<?xml version="1.0" encoding="UTF-8"?>
<application>
    <framework>
        <attributes>
            <key name="log.config.doNotUse">WEB-INF/log4j2Config.xml</key>
            <key name="log.class">OWFPreferenceService</key>
            <key name="log.filename">OWFPreferenceService.log</key>
            <key name="log.path">/home/development/temp/</key>
            <key name="config.dump">false</key>
            <key name="application.dateFormat">yyyyMMdd</key>
            <key name="application.timeFormat">HHmmssS</key>
            <key name="application.datetimeFormat">yyyyMMddHHmmssS</key>
            <key name="temp.path">/home/development/temp/</key>
            <key name="storage.repository">/home/development/temp/preference/</key>
        </attributes>
    </framework>
    <encryption>
    	<key name="key">9@ieRjfn9#205(84</key>
    	<key name="initVector">DmsfWoggkDDorjHr</key>
    </encryption>
</application>
